<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="header">
        <a href="http://localhost:5000/" class="logo">CVEdB</a>
        <div class="header-right">
            <a class="active" href="http://localhost:5000/">Home</a>
            <a href="http://localhost:5000/about">About</a>
        </div>
      </div>
    <p>About Section</p>
    <br><br>
    <p>
        We explain vulnerabilities, exploits and we provide additional threat intelligence information like current risk levels and exploit prices plus  a solution to how to prevent making the design flaw when developing a software for the vulnerability.
    </p>
</body>
</html>